/example/build/main.js
/example/build/main.n
/example/build/main.swf
/report/test/results.txt
/report/test/junit/neko/xml/TEST-massive.mcover.CoverageEntryTest.xml
/report/test/junit/js/xml/TEST-massive.mcover.CoverageEntryTest.xml
/report/test/junit/as3/xml/TEST-massive.mcover.CoverageEntryTest.xml
/report/test/junit/as2/xml/TEST-massive.mcover.CoverageEntryTest.xml
/report/test-runner/neko_test.n
/report/test-runner/js_test.js
/report/test-runner/as3_test.swf
/report/test-runner/as2_test.swf
/build/neko_test.n
/build/js_test.js
/build/as3_test.swf
/build/as2_test.swf
report/test/*